*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:rgb(43, 128, 226) ;
}
.container{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock{
    font-family: 'orbitron',sans-serif;
    font-size: 15vw;
    background-image: linear-gradient(black,green,blue);
    margin: 8px;
}    
.controls{
    margin-top: 16px;
}
.alaram{
    margin: 8px;
}
.button{
    margin: 9px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color:white;
    padding: 8px 8px;
    cursor: pointer;
}
.set-alarm{
    background-color: blue;
}
.clear-alarm{
    background-color: red;
}